{
margin


:


0;
padding


:


0;
}

/*--------Navigation-------*/
#nav-bar {
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar-brand img {
	height: 80px;
	padding-left: 30px;
}

.navbar-nav li {
	padding: 0 10px;
}

.navbar-nav li a {
	float: right;
	text-align: left;
}

#nav-bar ul li a:hover {
	color: #007bff !important;
}

.navbar {
	background: #fff;
}

.navbar-toggler {
	border: none !important;
}

.nav-link {
	color: #555 !important;
	font-weight: 600;
	font-size: 16px;
}

.jumbotron {
	background: rgba(0, 0, 0, 0.1);
}

.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#display {
	font-family: 'PT Sans', sans-serif;
	background-image: url('../img/s77.jpg');
	background-size: cover;
	background-position: center;
}

.display-form {
	padding: 40px;
	border-radius: 6px;
}

.display-form .form-group {
	position: relative;
	margin-bottom: 20px;
}
